<div id='curtain'>
</div>

<%content_for :header do %>
	<%= render 'shared/home_nav' %>
<% end %>

<div class="subscription">

	<div class='top'>

		<%= image_tag 'home_logo.png', :id=>'home-logo'%>

		<div id='intro'>
			<h1 id='oh-ma-ka-say'>oh-mah-kah-say</h1> is an expression used at sushi bars to mean leave the selection to the chef.  It is a Japanese phrase that means "it's up to you".  The omakase box is a selection of tasty and unique foods that we handpick and deliver to you.
		</div>

		<div id='fb-like'>
			<fb:like href="http://www.facebook.com/pages/Omakase-Box/208033962545676" layout="button_count" show_faces="true" ></fb:like>
		</div>

		<div id="signup-box">
			<%= form_for @subscription do |f|%>
				<%= f.label :email, "We'll email you when we launch! No spam, promise."%><br/>
				<%= f.text_field :email%>
				<%# f.submit 'submit'%>
				<a href='#' id='subscription_submit'><div id='submit-wrapper'>submit</div></a>
			<% end %>
		</div>

		<div id='omakase-ninja'>
		</div>
		<div id='soda-ninja'>
		</div>

		<div class='twitbox1'>
			<%= image_tag 'twitter-icon.png',  :id => 'twit-icon' %> I'm Jing, find me on Twitter <br/>as <%= link_to '@omakase_ninja', 'http://twitter.com/omakase_ninja'%>
		</div>

		<div class='twitbox2'>
			And I'm Nancy, the resident <%= link_to '@soda_ninja', 'http://twitter.com/soda_ninja'%>
		</div>

		<div id='email-success-box'>
			<div class='text'>
				Thanks for signing up!
			</div>
		</div>

		<div id='email-fail-box'>
			<div class='text'>
				Failed to sign up. <br/>Please try again.
			</div>
		</div>

		<div class='spacer'>
		</div>

	</div>


	<div id='what-is-omakase-box'>

		<h1>What is Omakase Box?</h1>

		Omakase box delivers the tasties food treats and food nds to a community of food lovers and a cianados.

		Every month Omakase members will receive a curated selection of food product samples. Each box will span many
		food categories and will deliver exciting new food products that can be eaten right away or used in the prepara-
		tion of their next meal.

		<div class='bottom'>

			<div id='the-box'>

				<h3>THE BOX</h3>

				Each month members receive 5-6 food samples that we’ve tasted and eaten ourselves ranging from snacks, condiments, spices, candies, prepared food, sauces, etc. They can be made by well-known brands to emerging or established artisanal producers.

			</div>

			<div id='the-community'>

				<h3>THE COMMUNITY</h3>

				We’re creating a community of food tasters that search for the coolest, tastiest, and unique new food nds. Once found, the community shares it with us through social media, and we deliver these tasty nds in our next monthly Omakase box to the rest of the community.

			</div>

			<div id='helping-those-in-need'>
				<h3>HELPING THOSE IN NEED</h3>
				Hunger is hidden problem in Canada and many don’t know that there are a large number of children and families that often go hungry before bed. We’d like to do our part. So with every Omakase box that's delivered, we donate part of our proceeds to Food Banks Canada.
			</div>

		</div>

	</div>
	
	<%= image_tag 'ninjas.png', :id => 'ninjas' %>
	
	<% content_for :footer do %>

		<%= render 'shared/home_footer' %>

	<% end %>

</div>
