<!DOCTYPE html>
<html>
<head>
  <title>Omakase</title>

<meta name="google-site-verification" content="yLlJOs5HmUhzu5m2pm153bC6aQvpIIgcsRgFmbfseBo" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
   <link rel="shortcut icon" href="/images/omakase-favicon.ico" >

  <div id="fb-root"><script src="http://connect.facebook.net/en_US/all.js"></script></div>



<script>








	$('#curtain').live('click', function(e) {
		$('#email-success-box').hide();
		$('#email-fail-box').hide();
		$('#curtain').hide();
	});

$(document).ready(function () {

	$('#email-success-box').hide();
	$('#email-fail-box').hide();
	$('#curtain').hide();



	$('#subscription_submit').click(function(e) {

		$.ajax({
			type: 'POST',
			url: '/subscriptions',
			data: {'email':$('#subscription_email').val()},
			success: function() {
				$('#email-success-box').show();
				$('#curtain').show();
				$('#subscription_email').val('');	
			},
			error: function() {
				$('#email-fail-box').show();
				$('#curtain').show();		
				$('#subscription_email').val('');	
			}
			
		});

	});


});

/*
$('#omakase-ninja').live('mouseover mouseout', function(event) {
if (event.type == 'mouseover') {
$('.twitbox1').show();
} else {
$('.twitbox1').hide();

}

});

$('#soda-ninja').live('mouseover mouseout', function(event) {
if (event.type == 'mouseover') {
$('.twitbox2').show();
} else {
$('.twitbox2').hide();

}

});
*/

</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22287546-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>



	<div id="notice"><%=notice%></div>
	<div class='content'>
		<%= yield %>
	</div>
	<%= render 'shared/footer' %>
</body>
  <%= javascript_include_tag 'facebook-init' %>
</html>
