<!DOCTYPE html>
<html>
<head>
  <title>Omakase</title>

<meta name="google-site-verification" content="yLlJOs5HmUhzu5m2pm153bC6aQvpIIgcsRgFmbfseBo" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
   <link rel="shortcut icon" href="/images/favicon.ico" >

  <div id="fb-root"><script src="http://connect.facebook.net/en_US/all.js"></script></div>

<script>
/*
$('#omakase-ninja').live('mouseover mouseout', function(event) {
if (event.type == 'mouseover') {
$('.twitbox1').show();
} else {
$('.twitbox1').hide();

}

});

$('#soda-ninja').live('mouseover mouseout', function(event) {
if (event.type == 'mouseover') {
$('.twitbox2').show();
} else {
$('.twitbox2').hide();

}

});
*/

</script>

</head>
<body>



		<div id="notice"><%=notice%></div>
			<%= yield %>

</body>
  <%= javascript_include_tag 'facebook-init' %>
</html>
